# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=<tu-usuario-rabbitmq>
RABBITMQ_PASSWORD=<tu-clave-rabbitmq>

# Oracle Cloud Autonomous Database
ORACLE_DB_URL=<jdbc:oracle:thin:@//host:port/service_name>
ORACLE_DB_USERNAME=<tu-usuario-oracle>
ORACLE_DB_PASSWORD=<tu-clave-oracle>